<ion-content class="ion-padding">
  <div class="content-wrapper">
    <!-- Encabezado de la página -->
    <div class="header-container">
      <h1 class="app-title">Editar Recordatorio</h1>
      <img src="\assets\img\pet-paws.png" alt="Patas de mascota" class="app-logo">
    </div>
    
    <!-- Subtítulo del formulario -->
    <h2 class="access-title">Modificar recordatorio</h2>

    <!-- Formulario de edición -->
    <form (submit)="guardarCambios()" class="add-form">
      <ion-item class="form-item">
        <ion-label position="stacked">Título</ion-label>
        <ion-input [(ngModel)]="titulo" name="titulo" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Tipo</ion-label>
        <ion-input [(ngModel)]="tipo" name="tipo" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Fecha y Hora</ion-label>
        <ion-datetime
          display-format="YYYY-MM-DDTHH:mm:ss"
          picker-format="YYYY-MM-DDTHH:mm:ss"
          [(ngModel)]="fecha_hora"
          name="fecha_hora"
          required>
        </ion-datetime>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Estado</ion-label>
        <ion-select [(ngModel)]="estado" name="estado" interface="popover">
          <ion-select-option value="Pendiente">Pendiente</ion-select-option>
          <ion-select-option value="Completado">Completado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Seleccionar Mascota</ion-label>
        <ion-select [(ngModel)]="mascota_id" name="mascota_id" interface="popover" required>
          <ion-select-option *ngFor="let mascota of mascotas" [value]="mascota.id">
            {{ mascota.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botones de acción -->
      <ion-button expand="block" type="submit" class="login-button">
        Guardar Cambios
      </ion-button>
      <ion-button expand="block" color="medium" (click)="irAHomeFuncionalidad()" class="cancel-button">
        Cancelar
      </ion-button>
    </form>
  </div>
</ion-content>