<ion-content class="ion-padding">
  
  <div class="content-wrapper">
    <div class="header-container">
      <h1 class="app-title">Editar Mascota</h1>
      <!-- Se omite el logo de la aplicación, ya que esta es una página de edición -->
    </div>

    <h2 class="access-title">Detalles de la mascota</h2>

    <form (ngSubmit)="actualizarMascota()">
      <div class="input-container">
        <!-- Campo de Nombre -->
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="paw-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="mascota.nombre" name="nombre" placeholder="Nombre" required></ion-input>
        </ion-item>
        
        <!-- Campo de Especie -->
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="leaf-outline" slot="start"></ion-icon>
          <ion-select [(ngModel)]="mascota.especie" name="especie" placeholder="Especie">
            <ion-select-option value="Perro">Perro</ion-select-option>
            <ion-select-option value="Gato">Gato</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- Campo de Raza -->
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="male-female-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="mascota.raza" name="raza" placeholder="Raza"></ion-input>
        </ion-item>

        <!-- Campo de Fecha de nacimiento (con calendario) -->
        <ion-item lines="none" class="custom-input-item date-input-item">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-datetime-button datetime="datetime" slot="end"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date" [(ngModel)]="mascota.fecha_nacimiento" name="fecha_nacimiento"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        
        <!-- Campo de Sexo -->
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="transgender-outline" slot="start"></ion-icon>
          <ion-select [(ngModel)]="mascota.sexo" name="sexo" placeholder="Sexo">
            <ion-select-option value="Macho">Macho</ion-select-option>
            <ion-select-option value="Hembra">Hembra</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Campo de Peso -->
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="scale-outline" slot="start"></ion-icon>
          <ion-input type="number" [(ngModel)]="mascota.peso" name="peso" placeholder="Peso (kg)"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="login-button">
        Actualizar Mascota
      </ion-button>
    </form>
    
    <div class="bottom-links">
      <a (click)="irAHomeFuncionalidad()" class="register-link">
        Cancelar
      </a>
    </div>
  </div>

</ion-content>