<ion-content class="ion-padding">
  
  <div class="content-wrapper">
    <div class="header-container">
      <h1 class="app-title">Mis Mascotas</h1>
      <img src="\assets\img\pet-paws.png" alt="Patas de mascota" class="app-logo">
    </div>

    <h2 class="access-title">Mascotas registradas</h2>

    <ion-list lines="none" class="pet-list" *ngIf="mascotas.length > 0">
      <ion-item *ngFor="let mascota of mascotas" class="pet-item">
        <ion-label>
          <h3 class="pet-name">{{ mascota.nombre }}</h3>
          <p class="pet-details">{{ mascota.especie }} - {{ mascota.raza }}</p>
        </ion-label>
        <ion-button fill="clear" color="primary" slot="end" (click)="verDetalles(mascota)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="tertiary" slot="end" (click)="irAEditarMascota(mascota)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-text *ngIf="mascotas.length === 0" class="no-pets-message">
      <h3>No hay mascotas registradas.</h3>
    </ion-text>

    <ion-button expand="block" routerLink="/add-pet" class="login-button add-pet-button">
      <ion-icon name="add-outline"></ion-icon> Añadir Mascota
    </ion-button>

    <div class="bottom-links">
      <a (click)="irAHomePrincipal()" class="register-link">
        Volver al Menú Principal
      </a>
    </div>
  </div>
</ion-content>