<ion-content class="ion-padding">
  
  <div class="content-wrapper">
    <div class="header-container">
      <h1 class="app-title">Recuperar contraseña</h1>
      <ion-icon name="mail-unread-outline" class="email-icon"></ion-icon>
    </div>

    <h2 class="access-title">Recuperar contraseña</h2>
    <p class="subtitle">Digite su correo electrónico para restablecer la contraseña</p>

    <div class="input-container">
      <ion-item lines="none" class="custom-input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="correo" type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" (click)="recuperar()" class="login-button">
      Recuperar
    </ion-button>
    
    <div class="bottom-links">
      <p class="has-account-text">¿Ya tienes una cuenta?</p>
      <a routerLink="/login" class="register-link">
        Acceder
      </a>
    </div>
  </div>

</ion-content>